@keyframes blackHole {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    50% {
        opacity: 0.5;
        transform: translateY(50px) scale(0.5);
    }
    100% {
        opacity: 0;
        transform: translateY(100px) scale(0);
    }
}


@keyframes slideFadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes shrinkFadeOut {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleY(0);
    }
}

@keyframes rotateFadeOut {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: rotate(90deg);
    }
}


@keyframes hide {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}


.fcard-edit {
    background-color: #a5e1ff;
    padding: 10px;
    animation-name: slideFadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

table thead tr {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

table th, table td {
    padding: 12px 15px;
    justify-content: center;
    border: 1px solid #ddd;
}

table tbody tr {
    border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
    background-color: #66dfed;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-button:hover {
    background-color: #ff1a1a;
}


